@model Proyecto.Models.Genero

@{
    ViewBag.Title = "Borrar Género";
}

    <div class="container-fluid">
        <div class="row baja2">
            <div class="col-12 pb-5">
                <h3>¿Estás seguro de que querés borrar el género: @Model.nvarchNombre?</h3>
            </div>
            <div class="col-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="button-gnrl" /> 
                    @Html.ActionLink("Volver", "Index", new { controller = "Genero", id = Model.ID }, new { @class = "button-gnrl" })
                </div>
                }
            </div>
        </div>
    </div>
