USE [master]
GO
/****** Object:  Database [Proyecto]    Script Date: 7/24/2019 10:11:19 PM ******/
CREATE DATABASE [Proyecto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TRAINING\MSSQL\DATA\Proyecto.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Proyecto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TRAINING\MSSQL\DATA\Proyecto_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 7/24/2019 10:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Artistas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[varbImagen] [varbinary](max) NULL,
	[nvarchImageMimeType] [nvarchar](max) NULL,
	[varchNombre] [varchar](80) NOT NULL,
	[varchPais] [varchar](50) NOT NULL,
	[intAño] [int] NOT NULL,
	[IDGenero] [int] NOT NULL,
	[varchBiografia] [varchar](max) NULL,
 CONSTRAINT [PK_Artistas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Discos]    Script Date: 7/24/2019 10:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Discos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[varbPortada] [varbinary](max) NULL,
	[nvarchImageMimeType] [nvarchar](max) NULL,
	[varchNombre] [varchar](50) NOT NULL,
	[intAño] [int] NOT NULL,
	[IDArtista] [int] NOT NULL,
 CONSTRAINT [PK_Discos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 7/24/2019 10:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Generos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[varchNombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Generos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pistas]    Script Date: 7/24/2019 10:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pistas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[varchNombre] [varchar](50) NOT NULL,
	[intDuracion] [int] NULL,
	[IDDisco] [int] NOT NULL,
 CONSTRAINT [PK_Pistas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Artistas] ON 

GO
SET IDENTITY_INSERT [dbo].[Artistas] OFF
GO
SET IDENTITY_INSERT [dbo].[Discos] ON 

GO
SET IDENTITY_INSERT [dbo].[Discos] OFF
GO
SET IDENTITY_INSERT [dbo].[Generos] ON 

GO
INSERT [dbo].[Generos] ([ID], [varchNombre]) VALUES (1, N'Hard Rock')
GO
INSERT [dbo].[Generos] ([ID], [varchNombre]) VALUES (2, N'Heavy Metal')
GO
INSERT [dbo].[Generos] ([ID], [varchNombre]) VALUES (3, N'Punk Rock')
GO
SET IDENTITY_INSERT [dbo].[Generos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pistas] ON 

GO
INSERT [dbo].[Pistas] ([ID], [varchNombre], [intDuracion], [IDDisco]) VALUES (1, N'Don''t worry about me', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[Pistas] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Generos]    Script Date: 7/24/2019 10:11:20 PM ******/
ALTER TABLE [dbo].[Generos] ADD  CONSTRAINT [IX_Generos] UNIQUE NONCLUSTERED 
(
	[varchNombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artistas]  WITH CHECK ADD  CONSTRAINT [FK_Artistas_Generos] FOREIGN KEY([IDGenero])
REFERENCES [dbo].[Generos] ([ID])
GO
ALTER TABLE [dbo].[Artistas] CHECK CONSTRAINT [FK_Artistas_Generos]
GO
ALTER TABLE [dbo].[Discos]  WITH CHECK ADD  CONSTRAINT [FK_Discos_Artistas] FOREIGN KEY([IDArtista])
REFERENCES [dbo].[Artistas] ([ID])
GO
ALTER TABLE [dbo].[Discos] CHECK CONSTRAINT [FK_Discos_Artistas]
GO
ALTER TABLE [dbo].[Pistas]  WITH CHECK ADD  CONSTRAINT [FK_Pistas_Discos] FOREIGN KEY([IDDisco])
REFERENCES [dbo].[Discos] ([ID])
GO
ALTER TABLE [dbo].[Pistas] CHECK CONSTRAINT [FK_Pistas_Discos]
GO
USE [master]
GO
