.body-content {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    }
.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

/**ESTILOS PARA ADAPTAR EL ROW**/
.row {
    margin: 0 !important;
    padding: 0 !important;
}

/****************************/
/** CLASES PARA EL NAVBAR **/
/**************************/

nav#navegador {
    background-color: #000000 !important;
    height: 80px;
}

   /*LOGO "LA DISQUERA*/

#logo {
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin-bottom: 10px;
}

/** ESTILOS PARA LOS LINKS DEL NAVBAR **/
a.nav-link {
    font-weight: 500;
}

a.nav-link:hover {
     color: rgb(180, 33, 33) !important;
}

.nav-link.active:hover {
      color: #ffffff !important;
}

/**************************************/
/** CLASES DEL MAIN DEL HOME/INDEX **/
/***********************************/

main {
      background-image: url(/Images/banner9.jpg);
      text-align: center;
      background-position-y: 80px;
      height: 700px;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
}

/** DIV QUE CONTIENE EL TITULO DEL MAIN **/

div#titulo {
     margin-top: 200px;
     text-align: center;
}

/** H1 PARA EL TITULO DEL MAIN **/
h1 {
     font-family: 'Teko', sans-serif;
     color: #ffffff;
     font-weight: bolder;
     text-align: left;
     letter-spacing: 0.1rem;
     text-transform: uppercase;
     margin-top: -45px;
     font-size: 45px;
}

/**ESTILOS PARA EL TITULO DE CADA SECCION, HOME(.DESCUBRI) Y SECCIONES ARTISTAS, DISCOS, ETC (.SECCIONES)**/
h2 {
     font-family: 'Teko', sans-serif;
     color: #000000;
     font-weight: bolder;
     letter-spacing: 0.1em;
     font-size: 40px;
     text-align: left;
     position: relative;
     margin-left: 50px;
     margin-top: 10px;
}

h2.descubri {
     letter-spacing: .1em;
     font-size: 35px;
     font-weight: 700;
     text-align: center;
     position: relative;
     margin: 50px 0 60px;
}

h2.secciones {
     margin-left: -8px;
     margin-top: -8px;
}

/** ESTILOS PARA EL SECTION DESCUBRI **/

section {
      background-color: rgb(243, 243, 243);
}

/* "Contenedor" de los géneros en la sección "Descubrí" */
.g-item {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: relative;
      cursor: default;
      box-shadow: inset 0 0 0 0 rgba(200,95,66, 0.4), inset 0 0 0 16px rgba(172,33,33, 0.3), 0 1px 2px rgba(0,0,0,0.1);
      transition: all 0.4s ease-in-out;
}

/** Imágenes para cada contenedor de la sección "Descubrí" **/

.g-img-1 {
      background-image: url(/Images/TheBeatles.jpg);
      background-position-x: center;
      background-position-y: -95px;
      background-size: cover;
}

.g-img-2 {
      background-image: url(/Images/DeepPurple.jpg);
      background-position-x: -2px;
      background-position-y: 15px;
      background-size: cover;
}

.g-img-3 {
      background-image: url(/Images/Ramones.jpg);
      background-position-y: -20px;
      background-position-x: 10px;
      background-size: cover;
}

.g-img-4 {
       background-image: url(/Images/JudasPriest.jpg);
       background-position-x: 10px;
       background-position-y: -20px;
       background-size: cover;
}

/** Título de cada género **/
.g-info {
       position: absolute;
       width: 100%;
       height: 100%;
       border-radius: 50%;
       overflow: hidden;
       opacity: 0;
       transition: all 0.4s ease-in-out;
       transform: scale(0);
       backface-visibility: hidden;
}

.g-info h3 > a {
       text-decoration: none;
       color: #fff;
}

.g-info h3 {
       color: #fff;
       text-transform: uppercase;
       position: relative;
       letter-spacing: 2px;
       font-size: 22px;
       font-weight: 600;
       margin: 0 30px;
       padding: 95px 0 0 0;
       height: 110px;
       font-family: 'Open Sans', Arial, sans-serif;
       text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

/** Al hacer hover en cada género, la imagen se cubre de un shadow translúcido **/
.g-item:hover {
       box-shadow: inset 0 0 0 110px rgba(200,95,66, 0.4), inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
}

/** "Zoom" del texto **/
.g-item:hover .g-info {
       opacity: 1;
       transform: scale(1);
}

/** Posición de cada item de género **/
.g-grid {
       margin: 20px 0 0px 0;
       padding: 0;
       list-style: none;
       display: block;
       text-align: center;
}

.g-grid:after,
.g-item:before {
        content: '';
        display: flex;
}

/** Tamaño y posición de cada item de género **/
.g-grid li {
         width: 220px;
         height: 220px;
         display: inline-block;
         margin: 20px;
}

/** **/
    #firsthr {
        margin-bottom: -5px;
    }

    #secondhr {
        padding-top: 5px;
    }
    #tercerhr {
        padding: 40px;
    }

    /* EFECTOS FOOTER */

footer {
    background-color: #000;
    height: 50%;
    color: white;
    padding: 15px;
}

    footer img {
        width: 40px;
        height: 40px;
     }

    div.footer {
        padding:50px 0 0 80px;
    }




body {
    height: 100vh;
    width:100%;
}


.card-body {
    padding: 10px !important;
}
    .card-body a {
        color: #000 !important;
    }
.card {
    box-shadow: 0.2px 1px 6px;
}

.row .card-body > a {
    text-decoration: none !important;
    color: #ffffff;
}

.row .card-body > a:hover {
    color: #ffffff; 
}
#card-discos {
    height: 100%;
}

div#card-discos > div > img {
    margin-top: -5px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.generos {
        height: 100vh;
    }

/** ARREGLO DE ROWS PARA VISTAS CON POCO CONTENIDO (GENEROS E INICIAR SESION) **/
.baja {
    padding-top: 110px !important;
    height: 700px !important;
    width: 100%;
}

/**ARREGLO DE ROWS PARA VISTAS GENERALES**/
.baja2 {
    padding-top: 110px !important;
}
.baja3 {
    padding-top: 6% !important;
}
.baja4 {
    padding-top: 110px !important;
    padding-bottom: 6% !important;
}

/** ESTILOS PARA LAS CARDS DE LOS ARTISTAS EN GÉNEROS **/

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div#card-artista.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    border-color: rgba(0, 0, 0, 0.4);
}

div#card-artista.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
 }

div#card-artista.card .card_image img {
    width: 100%;
    height: 300px;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

div#card-artista.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.titulo-artista {
    color: #ffffff;
    font-style:italic;
    text-decoration: none;
}

.titulo-artista:hover {
        color: #ffffff;
        font-style: italic;
        text-decoration: none;
    }


@media screen and (max-width: 500px) {
    .card-list {
        /* Cuando las pantallas sean pequeñas, las cards de los artistas se van a posicionar en columnas. */
        flex-direction: column;
    }
}


/** ESTILOS PARA BOTON SEARCH GENERAL **/

.button-gnrl {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    background-color: black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF !important;
    transition: all 0.2s;
}

.button-gnrl:hover {
     color: #ffffff;
     background-color: rgb(180, 33, 33);
     text-decoration: none;
}

@media screen and (max-width:30em) {
      .button-gnrl {
        display: block;
        margin: 0.4em auto;
    }
}

.row .card-body > .button-gnrl {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    background-color: black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF !important;
    transition: all 0.2s;
}

.row .card-body > .button-gnrl:hover {
     color: #ffffff;
     background-color: rgb(180, 33, 33);
     text-decoration: none;
}


/** MISMO BOTÓN ADAPTADO PARA "TODOS" EN EL SEARCH DE CADA SECCIÓN... **/
.button-todos {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    background-color: black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.2s;
}

.button-todos:hover {
     color: #ffffff;
     background-color: rgb(180, 33, 33);
     text-decoration: none;
}

/** ESTILOS PARA LOS FORM DE SEARCH EN CADA SECCIÓN Y SU CONTENIDO **/

#form-buscar {
    padding-top: 14px;
}

#input-search {
    margin-top: 4px;
}

#btn-volver {
    padding-top: 40px;
    padding-left: 20px;
}

.search {
    margin-left: 20px;
    margin-top: 13px !important;
}

@media screen and (min-width: 300px) and (max-width:500px) {

    /**************************************/
    /** CLASES DEL MAIN DEL HOME/INDEX **/
    /***********************************/

    main {
        background-image: url(/Images/banner9.jpg);
        text-align: center;
        background-position-y: 80px;
        height: 260px;
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    /* DIV QUE CONTIENE EL TITULO DEL MAIN */

    div#titulo {
        margin-top: 130px;
        text-align: center;
    }

    /* Título del main */
    h1 {
        font-family: 'Teko', sans-serif;
        color: #ffffff;
        font-weight: bolder;
        text-align: left;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        margin-top: -45px;
        font-size: 25px;
    }


} 

@media screen and (min-width: 500px) and (max-width:1024px) {

    /**************************************/
    /** CLASES DEL MAIN DEL HOME/INDEX **/
    /***********************************/

    main {
        background-image: url(/Images/banner9.jpg);
        text-align: center;
        background-position-y: 80px;
        height: 500px;
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

/** Agrego un color al dropdown del navbar para dispositivos móviles... **/
.navbar-collapse {
    background: black !important;
}
