@model IEnumerable<Proyecto.Models.Disco>
<div class="row">
    <div class="col-12 col-xs-12 col-lg-12 col-md-12">
        <h2 class="descubri">Últimas adiciones.</h2>
        <hr id="segundohr" class="barra">
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {

        if (item.varbPortada != null)
        {
            <div class="col-4">
                <div class="card mb-2">
                    <img src=" @Url.Action("GetImage", "Disco", new { discoID = item.ID })" style="max-width:50%" />
                    <div class="card-body">
                        <h4 class="card-title">@item.nvarchNombre</h4>
                        <p class="card-text">
                            Algo
                        </p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="row">
    <div class="col-12">
        @Html.ActionLink("Ver más", "Index")
        <button class="btn btn-4 btn-4c icon-arrow-right">Continue</button>

    </div>
</div>
<div class="row">
    <div class="col-12 col-xs-12 col-lg-12 col-md-12">
        <hr id="tercerhr" class="barra">
    </div>
</div>
