@model IEnumerable<Proyecto.Models.Artista>
@{
    ViewBag.Title = "_UltimasAdiciones";
}

<h2>Ultimas Adiciones</h2>

<section id="descubri">
    <div class="content">
        <div class="row">

            @foreach (var item in Model)
            {

                <div class="col-12 col-xs-3 col-lg-4 col-md-4">

                    <h3>
                        "@Html.DisplayFor(modelItem => item.nvarchNombre)"
                    </h3>
                </div>
            }
        </div>

        <div class="row">

            @foreach (var item in Model)
            {

                if (item.varbImagen != null)
                {
                    <div class="col-12 col-xs-3 col-lg-4 col-md-4">

                        <img src="@Url.Action("GetImage", "Artista", new { artistaID = item.ID })" />
                        @Html.ActionLink("Details", "Details", new { id = item.ID })

                    </div>

                }


            }
        </div>

    </div>
</section>