@{
    ViewBag.Title = "Home Page";
}

@* <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div> *@
<main role="main">
    <div class="row">
        <div id="titulo" class="col-12 col-xs-12 col-lg-12 col-md-12">
            <h1><span id="spandos">Buscá</span>, <span id="spandos">descubrí</span> y <span id="spandos">disfrutá</span> de la <span id="spanuno">mejor</span> música.</h1>
            <h2 class="subtitulo">Los <span id="spanuno">mejores</span> artistas.</h2>
        </div>
    </div>
</main>

<section id="descubri">
    <div class="content">
        <div class="row">
            <div class="col-12 col-xs-12 col-lg-12 col-md-12">
                <h2 class="descubri">Descubrí.</h2>
                <hr id="primerhr" class="barra">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xs-3 col-lg-3 col-md-3">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3><a href="#">Blues</a></h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xs-3 col-lg-3 col-md-3">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-2">
                            <div class="ch-info">
                                <h3><a href="#">Punk Rock</a></h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xs-3 col-lg-3 col-md-3">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-3">
                            <div class="ch-info">
                                <h3><a href="#">Rock</a></h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xs-3 col-lg-3 col-md-3">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-4">
                            <div class="ch-info">
                                <h3><<a href="@Url.Action("Index", "Disco")" title="List View" class="links">>Rock<br>& Roll</a></h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xs-12 col-lg-12 col-md-12">
                <hr id="segundohr" class="barra">
            </div>
        </div>
    </div>
</section>

@Html.Action("_UltimasAdiciones", "Artista", new { number = 2 })